table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

caption {
    margin: 32px 0 18px;
}

td, th {
    border: 1px solid #252525;
    padding: 8px 0;
}

.thead {
    background-color: #03427c;
    color: #efefef;
}

.bg-green {
    background-color: rgba(0, 255, 0, 0.3);
}
.bg-yellow {
    background-color: rgba(255, 255, 0, 0.3);
}
.bg-orange {
    background-color: rgba(255, 172, 0, 0.3);
}
.bg-red {
    background-color: rgba(255, 0, 0, 0.3);
}

@media (max-width: 468px) {
    table {
        width: 100%;
        font-size: 14px;
    }
}