* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgba(15, 155, 180, 0.2);
    padding: 16px;
    border-radius: 5px;
}